
.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 25%;
  border: 2px solid #ccc;
  padding: 10px;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: larger;
  font-weight: 700;
  text-align: center;
}