
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  height: 25%;
  border: 2px solid #ccc;
  padding: 10px;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 72pt;
  font-weight: 700;
  text-align: center;
}


@media (max-width: 600px) {
  .container{
    height: 50vh;
  }
  
  .title{
    font-size: 24pt;
  }
}